/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 40%;
  margin: 20px 35px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1a1a1a, #333333);
  color: #ffffff;
  overflow-x: hidden;
}

.slide {
  display: none;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.slide.active {
  display: block;
}

.slide-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 4rem 5rem;
  background-color: #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.slide-container::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #3E3E41;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
.rotating-span{
  background: radial-gradient(rgba(255, 255, 255, 0.60) 5%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  animation: move 9s linear infinite;
  offset-path: rect(0% auto 100% auto);
  padding: 1px;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
@keyframes move {
  0% {
      offset-distance: 0%;
  }

  100% {
      offset-distance: 100%;
  }
}

/* .slide.active .slide-container {
  transform: scale(1.05);
} */

h1, h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #5D9CEC; /* Azul para títulos */
}

h2 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #5D9CEC; /* Azul para subtítulos */
}

p, li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul {
  text-align: left;
  margin: 20px auto;
  max-width: 85%;
}

a {
  color: #5D9CEC; /* Azul para enlaces */
  text-decoration: underline;
}

.important {
  color: #5D9CEC; /* Azul para palabras clave */
  font-weight: bold;
}

.divider {
  border: 0;
  height: 1px;
  background: #5D9CEC; /* Azul para divisores */
  background-image: linear-gradient(to right, #5D9CEC, #333333);
}

.product-screenshots{
  text-align: center;
}
.frase{
  font-size: 64px;
  margin-bottom: 30px;
  color: #fff;
  letter-spacing: -1.92px;
  text-align: center;
  margin-top: 0;
}

.frase-color{
  background: linear-gradient(89.62deg, #5DFFBB 0%, #806BFF 31.25%, #755FFF 52.07%, #FF718A 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline;
}

.logo{
  background: linear-gradient(89.62deg, #5DFFBB 0%, #806BFF 31.25%, #755FFF 52.07%, #FF718A 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline;
  font-size:60px; 
  font-weight:bold; 
}

.tagline {
  font-size: 24px;
  margin: 40px 0;
  color: #5D9CEC; /* Azul para eslogan */
}

/* Botones de navegación */
.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  padding: 10px 0; /* Espaciado vertical */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Sombra para efecto de elevación */
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation button:hover {
  background-color: #0056b3;
}

.footer {
  margin-top: 80px;
}

.footer p {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 30px;
  text-align: left;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  opacity: 0.8;
  text-align: left;
}

.footer li {
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.8;
  text-align: left;
}

.footer a {
  color: #5D9CEC; /* Azul para enlaces en el pie de página */
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #338fff; /* Azul más claro al pasar el ratón */
}

/* Ajustes para dispositivos móviles */
@media only screen and (max-width: 768px) {
  /* Asegurar que la diapositiva ocupe toda la pantalla */
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Forzar altura completa en pantallas pequeñas */
    padding: 20px; /* Ajustar el padding para mejor visibilidad */
  }

  .slide-container {
    width: 100%;
    padding: 20px;
    background: rgba(22, 22, 22, 0.6); /* Mantener buena visibilidad sobre el fondo */
    border-radius: 10px;
  }

  h1 {
    font-size: 28px; /* Reducir tamaño de fuente para móviles */
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  p, li {
    font-size: 16px;
    margin-bottom: 10px;
  }

  /* Botones más grandes para móviles */
  .navigation {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly; /* Separar botones uniformemente */
  }

  .navigation button {
    font-size: 18px;
    padding: 14px 24px; /* Incrementar el tamaño para mejor interacción táctil */
    margin: 0 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7); /* Mejor contraste */
  }

  .navigation button:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Interacción más notoria */
  }
}
